<section class="bar">
  <section>
    <section class="bar-body">


      <span class="preview-data">

        <span class="preview-item">

          <span class="preview-item-box">
            <span class="preview-title-holder">
              <span class="preview-title">Team EnVyUs</span>
            </span>
            <span class="preview-location">
              <span class="preview-location-text">France</span>
              <img title="France" class="preview-location-ico" src="https://s.starladder.com/assets/ui/images/blocks/flags/fr-5f985aed5044315c0270a8ded8eb7dc2.svg" alt="Fr" width="22" height="16">
            </span>
          </span>

          <span class="preview-img">
            <img src="https://s.starladder.com/uploads/tms/player/image/2982/thumb_72_3d25c33763449897ca2609b4149dde1d.png" alt="Thumb 72 3d25c33763449897ca2609b4149dde1d" width="72" height="72">
          </span>

        </span>

        <span class="preview-time">
          <span class="preview-time-val">Следующий розыгрыш через</span>
          <span class="preview-time-sign">3:07:53</span>
        </span>

        <span class="preview-item mod-reverse">
          <span class="preview-item-box">

            <span class="preview-img">
              <img src="https://s.starladder.com/uploads/tms/player/image/3839/thumb_72_9d4fa5bd5011079e4f08713a8734bf8b.png" alt="Thumb 72 9d4fa5bd5011079e4f08713a8734bf8b" width="72" height="72">
            </span>

            <span class="preview-item-box">
              <span class="preview-title-holder">
                <span class="preview-title">dignitas</span>
              </span>
              <span class="preview-location">
                <img title="Norway" class="preview-location-ico" src="https://s.starladder.com/assets/ui/images/blocks/flags/no-f82b1818ac4eb6a289b57819f0fb2231.svg" alt="No" width="22" height="16">
                <span class="preview-location-text">Norway</span>
              </span>
            </span>

          </span>
        </span>

      </span>


    </section>
  </section>
</section>
