<div class="thumb type-6">
  <div class="media">
    <span class="label">Mythical</span>
    <img src="media/ak.png" alt="AK" height="44" width="120" />
  </div>
  <div class="caption">
    <h3>AK-47</h3>
    <p title="you can create a basic grid system that starts out stacked on mobile devices and tablet devices (the extra small to small range) before becoming horizontal on desktop (medium) devices">you can create a basic grid system that starts out stacked on mobile devices and tablet devices (the extra small to small range) before becoming horizontal on desktop (medium) devices</p>
  </div>
</div>
